@model IEnumerable<MusicStream.Models.Song>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#feed" style="color:gray!important"> Feed</a></li>
            <li><a data-toggle="tab" href="#explore" style="color:gray!important"><span class="glyphicon glyphicon-music"></span> My playlists</a></li>

        </ul>

        @using (Html.BeginForm("UploadFile",
                            "Home",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload Song:</label>
                <input type="file" name="file" id="file" /><br><br>
                <input type="submit" value="Upload Song" />
        }
        
        <div class="song_list">

            <table class="table-hover" cellpadding="10">
                @foreach (var song in Model)
            {
                    <tr>
                        <td>
                            @song.SongName <br />
                            <audio controls preload="auto">
                                <source src="@song.FilePath" type="audio/mp3" />
                                This text displays if the audio tag isn't supported.
                            </audio>
                        </td>
                        <td>
                            <a href="/Home/Delete?id=@song.ID"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                        <td>
                            <a href="/Home/Download?filename=@song.SongName"><span class="glyphicon glyphicon-cloud-download"></span></a>
                        </td>
                    </tr>
                }
            </table>


        </div>

        <a href="/Home/AddPlaylist/">Add Playlist</a>
    </div>
</div>